$main-color:#23272f;
$body-bg: #23272f; 


$headings-font: mr-eaves-modern, Helvetica, Arial, sans-serif;  
$heading1-color:#f9f9fa;
$redHeading: #ab2637;

$numbers-font:'Roboto', Helvetica, Arial, sans-serif;  

$p-font: mr-eaves-modern, Helvetica, Arial, sans-serif;  
$p-color:#f9f9fa;



