<header id="main-header">
    <h1>AFRICAN ELEPHANTS ARE <span class="redHead">ALMOST EXTINCT</span></h1>
</header>
<main>
     <div id="aboutElep">
        <img class="elepImage" src="images/elephant.svg" alt="elephant img">

        <section id="decNum">
            <p id="firstP">Increasingly threatened by poaching and slaughtering for ivory</p>
            <h2 class="head2">DECREASING NUMBERS</h2>
            {{!-- population of Elephant --}}
            <div class="poElep">
                {{!-- In 1930 --}}
                {{!-- <h3> year </h3>
                <h4> poe </h4> --}}
                <img src="images/elephantIcon.svg" alt="elephant icon">
                <div class="sec1-1 hidden" id="1">

                </div>
                <h4 class="head4">POPULATION OF ELEPEHANTS</h4>
            </div>
              {{!-- Remain --}} 
            <div class="remain">
                {{!-- In 2018 --}}
                {{!-- <h3> year </h3>
                <h4> poe </h4> --}}
                <img id="sec2Img" src="images/elephantIcon2.svg" alt="elephant icon">
                <div class="sec1-2 hidden" id="2">

                </div>
                <h4 class="head4">REMAIN</h4>
            </div>
        </section>
    </div>
    
    <div id="aboutBorder"></div>

    <div id="botContainer">
        <div id="botConLeft">
            {{!-- Killing for Ivory --}}
            <section class="killElep hidden" id="3-1">
                <h2 class="head2">KILLING FOR IVORY</h2>
                <div id="killE-wrapper">
                    <img src="images/tucks.svg" alt="tucks">
                    <div id="killE-text">
                        <div class="killIvory hidden" id="4">
                        {{!-- <h3> year </h3>
                        <h4> killing </h4> --}}
                        </div>
                        <div class="killIvory2 hidden" id="5">
                            {{!-- <h3> year </h3>
                            <h4> killing </h4> --}}
                        </div>
                    </div>
                </div>
            </section>

            {{!-- Last Safe Haven in Botswana --}}
            <section class="lastSafe hidden" id="6-1">
                <h2 class="head2">LAST SAFE HAVEN IN BOSTSWANA</h2>
                <div class="bostwanaMap">
                    <img src="images/bosMap.svg" alt="botswana map">
                    <div class="savannaElep">
                        <p><span id="moreT">+ THAN ----</span><br>130,000</p>
                        <img src="images/grBorder.svg" alt="stats img">
                        <img src="images/3rdPo.svg" alt="stats img 2">
                    </div>
                </div>

                <section id="poachers">
                    <h3 class="redHead3">ELEPHANTS ARE KILLED BY POACHERS</h3>
                    <div class="poach-wrapper">
                    <div class="nine">
                        {{!-- <h3> year </h3> --}}
                        <img src="images/chart9.svg" alt="stats img 2">
                        <div class="nineData" id="7">

                        </div>
                        {{!-- <h4> killing </h4> --}}
                    </div>


                    <div class="eightySeventh">
                        {{!-- <h3> year </h3> --}}
                        <img src="images/chart87.svg" alt="87 percent">
                        <div class="eightySevData hidden" id="8">

                        </div>
                        {{!-- <h4> killing </h4> --}}
                       </div>
                    </div>
                </section>   
            </section>
        </div>

       <div id="midLine"></div>

        <div id="botConRight">
            {{!-- Ivory from Elephant Tusks --}}
            <section class="elepTusk hidden" id="3-2">
                <h2 class="head2">IVORY FROM ELEPHANT TUSKS</h2>
                <div id="elepTuskItems">
                    <div id="sculp" class="tItems">
                        <img src="images/sculpture.svg" alt="sculpture">
                        <h4>SCULPTURES</h4>
                    </div>
                            
                    <div id="fig" class="tItems">
                        <img src="images/figurines.svg" alt="figurine">
                        <h4>FIGURINES</h4>
                    </div>
            
                    <div id="chopS" class="tItems">
                        <img src="images/chopSticks.svg" alt="chopsticks">
                        <h4>CHOPSTICKS</h4>
                    </div>

                    <div id="jewe" class="tItems">
                        <img src="images/jewelry.svg" alt="jewelry">
                        <h4>JEWELRY</h4>
                    </div>
                </div>
            </section>

            {{!--The demand for the Ivory --}}

            <section class="demand hidden" id="6-2">
                <h2>THE DEMAND FOR IVORY</h2>
                <p class="wHead">COMES MAINLY FROM ASIA</p>

                <div class="aaMap">
                    <img src="images/anaMaps.svg" alt="asia map">
                    <div id="dom">
                        <p>AFRICAN IVORY IS A BIG BUSINESS FOR POACHERS</p>
                        <h3>DOMESTIC IVORY MARKETS </h3>
                        <div class="asiaAllo">
                            <img src="images/ban.svg" alt="banned icon">
                            <p>HAS <span class="redh">BANNED</span>SINCE THE END OF 2017 IN CHINA</p>
                        </div>
                        <div class="asiaAllo1">
                            <img src="images/legal.svg" alt="legal icon">
                            <p><span class="redh">LEGAL</span> IN HONG KONG & JAPAN</p>
                        </div>
                    </div>
                </div>
            </section>

          </div>
    </div>

</main>
<script src="js/main.js"></script>