#aboutElep {
    .slide-in-bottom {
        -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-in-bottom {
        0% {
          -webkit-transform: translateY(500px);
                  transform: translateY(500px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-bottom {
        0% {
          -webkit-transform: translateY(500px);
                  transform: translateY(500px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      
    .elepImage {
        display: none;
    }
    #decNum {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        #firstP {
            font-family: $numbers-font;
            font-size: 20px;
            width: 60%;
            line-height: 22px;
            margin-bottom: 5%;
        }
        h2 {
            font-size: 25px;
            margin-bottom: 5%;
        }
        .poElep, .remain {
            position: relative;
            width: 250px;
            height: 70px;
            img {
                position: absolute;
                z-index: -99;
                top: 0;
                left: 0;
                width: 250px;
            }
            #sec2Img {
                position: absolute;
                z-index: -99;
                top: 0;
                left: 0;
                width: 150px;
            }
            .sec1-1, .sec1-2 {
                margin-left: 20%;
                margin-bottom: 3%;
                p:nth-child(1) {
                    font-family: $numbers-font;
                    font-size: 12px;
                    text-align: left;
                    margin-bottom: 2%;
                }
                p:nth-child(2) {
                    font-family: $numbers-font;
                    font-size: 18px;
                    text-align: left;
                    margin-bottom: 2%;
                }
            }
            h4 {
                margin-left: 20%;
                text-align: left;
            }
        }
    }
}
#aboutBorder {
    width: 90%;
    border-bottom: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

@media screen and (min-width: 768px) {
    #aboutElep {
        display: flex;
        flex-direction: row;
        .elepImage {
            display: block;
            width: 70%;
        }
        #decNum {
            #firstP {
                font-size: 25px;
                width: 65%;
                line-height: 30px;
                margin-bottom: 10%;
                letter-spacing: 0.5px;
            }
            h2 {
                font-size: 30px;
                letter-spacing: 1px;
                margin-bottom: 5%;
            }
            .poElep, .remain {
                width: 350px;
                height: 100px;
                img {
                    width: 350px;
                }
                #sec2Img {
                    width: 220px;
                }
                .sec1-1, .sec1-2 {
                    margin-bottom: 0;
                    p:nth-child(1) {
                        font-size: 20px;
                        margin-bottom: 1%;
                    }
                    p:nth-child(2) {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                h4 {
                    font-weight: normal;
                }
            }
        }
    }
    #aboutBorder {
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1200px) {
    #aboutElep {
        .elepImage {
            width: 70%;
        }
        #decNum {
            #firstP {
                font-size: 38px;
                width: 60%;
                line-height: 50px;
            }
            h2 {
                font-size: 45px;
            }
            .poElep, .remain {
                width: 500px;
                height: 150px;
                img {
                    width: 500px;
                }
                #sec2Img {
                    width: 320px;
                }
                .sec1-1, .sec1-2 {
                    margin-left: 20%;
                    p:nth-child(1) {
                        font-size: 20px;
                        margin-bottom: 2.5%;
                    }
                    p:nth-child(2) {
                        font-size: 48px;
                    }
                }
                h4 {
                    font-size: 18px;
                }
            }
        }
    }
}